body{
	font-family:Arial,san-serif;
	text-align:center;
	background-color:#f2f2f2;
	margin:0;
	padding:0;
}
#app{
 	display:flex; 
	flex-direction:column;
	align-items:center;
	margin-top:100px;
}
.vid-container{
	width:300px;
	height:200px;
	background-color:#ccc;
	margin-bottom:20px;
}
.player-container{
	width:300px;
	height:50px;
	background-color:#eee;
	margin-bottom:20px;
}
.sound-picker button{
	margin:5px;
	padding:10px 20px;
	font-size:16px;
}
#time-select{
	margin-bottom:20px;
}
#time-select button{
	margin:5px;
	padding:10px 20px;
	font-size:16px;
}
.time-display{
	font-size:48px;
	margin-bottom:20px;
}
.play{
	padding:10px 20px;
	font-size:16px;
}